<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @animal_type.nombre %>
</p>

<%= link_to 'Edit', edit_animal_type_path(@animal_type) %> |
<%= link_to 'Back', animal_types_path %>
